doctype html
html
  head
    title #{tid} GLOBAL
  body
    p user name (#{name})
    p email (#{email})
    h1 ようこそ
    p デモのため，マイページは予告なく削除されることがあります．あらかじめご了承ください．
    h1 history
    p (#{history})
    p code (#{code})
    p series (#{series})
