extends layout

block content
    a(href='/user/logout') ログアウト
    br

    h1 プロフィールの編集
    form(action='/user', method='post')
        label ニックネーム
        input(type='text', name='name', value=user.name)
        br
        label e-mail
        input(type='text', name='email', value=user.email)
        br
        lable 新しいパスワード
        input(type='password', name='pw')
        br
        label パスワードの再入力
        input(type='password')
        br
        select(name='language')
            option 日本語
            option English
            option 中文
            option 한국어
        br
        button(type='submit') 保存

    h1 最新のお立ち寄り
    each code in codes
        p コード番号 #{code.serial}
        table
            tr
                th 拠点名
                th 立ち寄り時刻
                th コメントカード
            each log in code.history
                tr
                    td: a(href='#{log.homeURL}') #{log.name}
                    td #{log.mt}
                    td: a(href='#{log.commentURL}') #{log.commentURL}
        br